#nav										{ padding-left: 36px ;}
#header p.title								{ font-size:110px;}
#data										{ text-align:center; margin-top:40px;}
#data p										{ font: italic 20px Georgia,Serif; -moz-border-radius: 2px; padding: 3px; color: #000; margin: 10px 40px;}