#nav								{ padding-left: 80px ;}
#header p.title						{ font-size:110px;}
#filters							{ text-align:center; margin-top:40px;}
#filters h4							{ font: italic 30px Georgia; margin: 20px;}
#data h4							{ font: 20px Georgia; margin: 30px; text-align:center; color: #acacac;}