*											{ margin:0px; padding:0px; }
body										{ font:14px Georgia, Serif; }

input.form									{ border: none; border: 2px dashed #dadada; font-family: Arial; padding:7px 50px;}
input.form:focus							{ background: #fff8de; color: #000;}

textarea.form								{ border: none; border: 2px dashed #dadada; font-family: Georgia; padding:7px 50px; margin-bottom: 10px;}
textarea.form:focus							{ background: #fff8de; color: #000;}

select.form									{ border: none; border: 2px dashed #dadada; font-family: Arial; padding: 2px; margin-right: 5px; margin-left:5px;}

input.sbutton								{ border: none; font-family: Arial; padding:7px 50px; border: 2px solid #767676;}
input.sbutton:hover							{ background: #dadada;}
input.sbutton:focus							{ background: #2e2e2e; color: #fff;}

input.button								{ border: none; font-family: Arial; padding:3px 25px; border: 2px solid #767676;}
input.button:hover							{ background: #dadada;}
input.button:focus							{ background: #2e2e2e; color: #fff;}